*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header style */
nav{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 87px auto;
}
nav > ul{
  display: flex;
}
 nav li{
  list-style: none;
  margin-right: 40px;
}
.icon span{
  margin-right: 20px;
}
.new-icon{
  width: 40px;
  height: 40px;
}
.new-icons{
  width: 340px;
  height: 340px;
}
.banner{
  width: 80%;
  margin: 0px auto;
  gap: 30px;
  display: flex;
  background-image: url('../images/Circle\ design.svg');
  background-repeat: no-repeat;
  background-position: right;
}
.banner-title{
  color: #3A3A3A;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px; 
}
.banner-description{
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 600;
  padding-top: 16px;
}
.btn-primary{
  border-radius: 41px;
  background: #E02C6D;
  display: inline-flex;
  padding: 10px 24px;
  gap: 8px;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  margin: 16px;
}
.btn-primary span{
  align-items: center;
}